body {
	margin: 0;
	background-color: aquamarine;
	height: 100vh;
	/* display: flex;
	align-items: flex-end;
	justify-content: center; */
}

.sprite-container {
	position: relative;
}

.sprite {
	position: absolute;
}

.hide {
	display: none;
}
