body {
	margin: 0;
	background-color: aquamarine;
	height: 100vh;
}

.sprite-container {
	position: relative;
	height: 100vh;
}

.sprite {
	position: absolute;
	border: 1px solid black;
}

.hide {
	display: none;
}

/* select enemy and apply animation */
.enemy-sprite {
	/* animation-name: enemy-x;
	animation-duration: 3s;
	animation-iteration-count: infinite; */
	position: absolute;
	border: 1px solid black;
}

.enemy-sprite1 {
	animation-name: enemy-y;
	animation-duration: 3s;
	animation-iteration-count: infinite;
	position: absolute;
}

.enemy-sprite2 {
	animation-name: enemy-bounce;
	animation-duration: 3s;
	animation-iteration-count: infinite;
	position: absolute;
}

form {
	width: 40%;
	margin: 0 auto;
	padding-top: 40vh;
}

/* animation */

@keyframes enemy-x {
	0% {
		left: 0vw;
		top: 50vh;
	}

	50% {
		left: 90vw;
		top: 50vh;
	}

	100% {
		left: 0vw;
		top: 50vh;
	}
}

@keyframes enemy-y {
	0% {
		left: 40vw;
		top: 0vh;
	}

	50% {
		left: 40vw;
		top: 80vh;
	}

	100% {
		left: 40vw;
		top: 0vh;
	}
}

@keyframes enemy-bounce {
	0% {
		left: 0vw;
		top: 50vh;
	}

	25% {
		left: 50vw;
		top: 0vh;
	}

	50% {
		left: 80vw;
		top: 50vh;
	}

	75% {
		left: 50vw;
		top: 80vh;
	}

	100% {
		left: 0vw;
		top: 50vh;
	}
}
